.h1 {
    text-align: center;
}

.h2 {
    text-align: center;
}

p {
    border-bottom: 2px solid #BF6430;
    width: 150px;
    
}

.h1 {
    text-align: center;
}

.link-nav {
    text-decoration: none;
    color: #BF6430;
    margin-right: 50px;
    background-color: #FF8540;
    padding: 2px;
}

nav {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    margin-right: 30px;
}

body {
    font-family: sans-serif;
    background-color: #5FD3B3 ;
    margin: 0px auto 0px auto;
    font-size: 20px;
}

.gga {
    background-color: #FF8540;
    padding: 20px;
    padding-left: 40px;
    color: darkblue;
}

.container {
    width: 800px;
    margin: 0px auto 0px auto;
}

.link-header {
    text-decoration: none;
    background-color: #FF8540;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 25px;

}

header {
    height: 20px;
    padding: 10px 10px 5px 10px;
}

.link-header:hover {
    color: #009999;
}

.link-nav:hover {
    color: #009999;
}

h3 {
    background-color: #FF8540;
    padding: 30px;
}

.info_main {
    padding-left: 20px;
}
